@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h3 class="display-4">Administrative functions</h3>
    <img src="/Images/matrix_1280.jpg" alt="Reports." height="320" />
</div>
 <br />
<br />

<div class="text-center">
    <ul style="list-style-type: none" class="text-center">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Assets" asp-action="AdminRecalc">Recalculate expiration dates</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Assets" asp-action="InactiveAssets">Show inactive assets</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Assets" asp-action="InactiveAssets">*Show inactive categories</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Assets" asp-action="InactiveAssets">*Show inactive offices</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Assets" asp-action="InactiveAssets">*Show inactive currencies</a>
        </li>
        <li>..</li>
    </ul>
</div>