@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    <p>MB Megacorp asset database</p>
    <p><img src="/Images/IMG_1595_6_7.jpg" alt="Photo by Mirza B." /></p>
</div>
