@{
    ViewData["Title"] = "Privacy Policy";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<div class="text-center">
    <img src="/Images/key_640.jpg" alt="Reports." height="320" />
</div>
<br />
<br />
<br />
<br />
<div class="text-center">
    <p>No need for <h4>Privacy</h4> in the age of social media.</p>
</div>
