@model EFCAssets.Models.Asset

@{
    ViewData["Title"] = "Create";
}
<html lang="en-us">
<body>
    <span class="display-4 text-info">Create</span><span> new asset</span>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AssetName" class="control-label"></label>
                    <input asp-for="AssetName" class="form-control" />
                    <span asp-validation-for="AssetName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AssetPurchaseDate" class="control-label"></label>
                    <input asp-for="AssetPurchaseDate" type="date" asp-format="{0:yyyy-mm-dd}" class="form-control" value="@DateTime.Today" />
                    <span asp-validation-for="AssetPurchaseDate" class="text-danger"></span>
                </div>
                <!--
                <div class="form-group">
                    <label asp-for="AssetExpirationDate" class="control-label"></label>
                    <input asp-for="AssetExpirationDate" type="date" asp-format="{0:yyyy-mm-dd}" class="form-control" />
                    <span asp-validation-for="AssetExpirationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AssetWarningDate" class="control-label"></label>
                    <input asp-for="AssetWarningDate" type="date" asp-format="{0:yyyy-mm-dd}" class="form-control" />
                    <span asp-validation-for="AssetWarningDate" class="text-danger"></span>
                </div>
                 -->
                <div class="form-group">
                    <label asp-for="AssetPrice" class="control-label"></label>
                    <input asp-for="AssetPrice" type="text" class="form-control" />
                    <span asp-validation-for="AssetPrice" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="AssetActive" /> @Html.DisplayNameFor(model => model.AssetActive)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="OfficeId" class="control-label"></label>
                    <select asp-for="OfficeId" class="form-control" asp-items="ViewBag.OfficeId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-info" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="text-info">Back to List</a>
    </div>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
