@model EFCAssets.Models.Asset

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Asset</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AssetId" />
            <div class="form-group">
                <label asp-for="AssetName" class="control-label"></label>
                <input asp-for="AssetName" class="form-control" />
                <span asp-validation-for="AssetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetPurchaseDate" class="control-label"></label>
                <input asp-for="AssetPurchaseDate" class="form-control" />
                <span asp-validation-for="AssetPurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetExpirationDate" class="control-label"></label>
                <input asp-for="AssetExpirationDate" class="form-control" />
                <span asp-validation-for="AssetExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetWarningDate" class="control-label"></label>
                <input asp-for="AssetWarningDate" class="form-control" />
                <span asp-validation-for="AssetWarningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetPrice" class="control-label"></label>
                <input asp-for="AssetPrice" class="form-control" />
                <span asp-validation-for="AssetPrice" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AssetActive" /> @Html.DisplayNameFor(model => model.AssetActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="OfficeId" class="control-label"></label>
                <select asp-for="OfficeId" class="form-control" asp-items="ViewBag.OfficeId"></select>
                <span asp-validation-for="OfficeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
